.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
}

.audioPlayer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  padding-left: -30%;
}

.header {
  display: flex;
  align-items: center;
  text-align: center;
  background-color: #1e1e1e;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 20px;
  font-weight: 500;
  top: 0;
  width: 100%;
  /* height: 5vh; */
  z-index: 10;
  position: fixed;
}

.title {
  margin-top: 10px;
  margin-right: 3%;
  margin-left: 20px;
  margin-bottom: 10px;
  font-size: 24px;
}

.content {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(90vh - 250px);
  width: 100%;
  flex-direction: column;
}

.button {
  background-color: #251db9;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 7px;
  margin-left: 1%;
  /* margin-right: 1%; */
  cursor: pointer;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 500;
  transition: background-color 0.2s ease;
}

.button:hover {
  background-color: #1f1ba0;
}

/* Masquer la div pour les écrans dont la largeur est inférieure ou égale à 600px */
@media screen and (max-width: 1000px) {
  .button {
    display: none;
  }
}

.topRightButtonsContainer {
  margin-left: auto;
  display: flex;
  align-items: center;
  margin-right: 20px;

}

.topRightButtons {
  /* margin-right: 30px; */
  background-color: #251db9;
  border: none;
  /* padding: 10px 20px; */
  cursor: pointer;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 500;
  transition: background-color 0.2s ease;
}

.topRightButtons:hover {
  background-color: #1f1ba0;
}

/* Masquer la div pour les écrans dont la largeur est inférieure ou égale à 600px */
@media screen and (max-width: 600px) {
  .helpButton {
    display: none;
  }

  .topRightButtonsContainer {
    margin-right: -10px;
  }
}

.footer {
  background-color: #333;
  color: white;
  height: 13vh;
  font-size: 16px;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 10vh;
  z-index: 0;
}

.playerContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.inputSunoLinkContainer {
  transition: ease-in 2s ease-in;
  width: 70vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30%;
}

.inputSunoLink {
  width: 40%;
  height: 2vh;
  min-height: 15px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #333;
  margin: 10px;
}

.plusButton {
  background-color: #251db9;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 40px;
  font-size: 16px;
  width: 45px;
  height: 45px;
  font-weight: 500;
  font-size: x-large;
  transition: background-color 0.2s ease;
  padding: 0;
  padding-bottom: 4px;
  padding-right: 2px;
}

.plusButton:hover {
  background-color: #edecf6;
  color: black;
}

.explanatorytext {
  font-size: 16px;
  font-weight: 500;
  margin: 10px;
}

.previousAndNextSongsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 1;
  position: fixed;
  bottom: 13%;
  width: 100%;
  height: 10%;
  max-height: 10%;
  background-color: #2e2e2ea5;
  font-size: 1vw;
  font-size: calc(40% + 0.3vw + 0.3vh);
}

/* Masquer la div pour les écrans dont la largeur est inférieure ou égale à 600px */
@media screen and (max-height: 600px) {
  .previousAndNextSongsContainer {
    display: none;
  }
}

.previousNextSong {
  font-weight: 500;
}

.previousSongText {
  /* font-size: 1vw+0.1vh; */
  font-weight: 500;
  background-color: #1e1e1ed2;
  border-radius: 10px;
  width: 15%;
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-top: 11%; */
  margin-left: 1%;
  margin-right: 1%;
  padding: 10px;
}

.nextSongText {
  /* font-size: 15px; */
  font-weight: 500;
  background-color: #1e1e1ed2;
  border-radius: 10px;
  width: 15%;
  /* margin-top: 11%; */
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1%;
  margin-right: 1%;
  padding: 10px;
}

.projectCardContainer {
  display: flex;
}

.directButton {
  z-index: 2;
  height: 60px;
  width: 60px;
  margin-top: 2%;
  margin-right: 1%;
  border-radius: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid transparent;
  background: linear-gradient(to right, #000000, #000000), linear-gradient(to right, #ffffff, #ffffff);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.6), 0 0 30px rgba(255, 255, 255, 0.4);
  transition: box-shadow 0.3s ease-in-out;
  animation: pulse 2s infinite;
}

.accountCircle {
  margin-right: 30px;


}

.clickBlocker {
  position: fixed;
  top: -5px;
  left: 35%;
  width: 30vw;
  height: 120px;
  z-index: 10;
  pointer-events: auto;
  background: transparent;
  cursor: not-allowed;
}

@media (max-width: 768px) {
  .clickBlocker {
    display: none;
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.6), 0 0 30px rgba(64, 196, 255, 0.4);
  }

  50% {
    box-shadow: 0 0 25px 10px rgba(255, 255, 255, 0.8), 0 0 40px rgba(64, 196, 255, 0.6);
  }

  100% {
    box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.6), 0 0 30px rgba(64, 196, 255, 0.4);
  }
}

.userContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 20px;
}

.username {
  color: white;
  font-size: 16px;
  font-weight: 500;
}

/* Masquer la div pour les écrans dont la largeur est inférieure ou égale à 890px */
@media screen and (max-width: 890px) {
  .username {
    display: none;
  }
}

.dropdown {
  z-index: 1;
  margin: 0;
  margin-left: 4%;
}

/* Masquer la div pour les écrans dont la largeur est inférieure ou égale à 600px */
@media screen and (min-width: 1000px) {
  .dropdown {
    display: none;
  }
}