.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
}

.audioPlayer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  padding-left: -30%;
}

.header {
  display: flex;
  align-items: center;
  text-align: center;
  background-color: #080819;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 20px;
  font-weight: 500;
  top: 0;
  width: 100%;
  /* height: 5vh; */
  z-index: 10;
  position: fixed;
}

.title {
  margin-top: 10px;
  margin-right: 3%;
  margin-left: 20px;
  margin-bottom: 10px;
  font-size: 24px;
}

.content {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(90vh - 250px);
  width: 100%;
  flex-direction: column;
}

.button {
  background-color: #251db9;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 7px;
  margin-left: 1%;
  /* margin-right: 1%; */
  cursor: pointer;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 500;
  transition: background-color 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button:hover {
  background-color: #1f1ba0;
}

.button.active {
  background-color: #1a158a;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
  transform: scale(0.98);
}

/* Masquer la div pour les écrans dont la largeur est inférieure ou égale à 600px */
@media screen and (max-width: 1000px) {
  .button {
    display: none;
  }
}

.topRightButtonsContainer {
  margin-left: auto;
  display: flex;
  align-items: center;
  margin-right: 20px;

}

.topRightButtons {
  /* margin-right: 30px; */
  background-color: #251db9;
  border: none;
  /* padding: 10px 20px; */
  cursor: pointer;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 500;
  transition: background-color 0.2s ease;
}

.topRightButtons:hover {
  background-color: #1f1ba0;
}

/* Masquer la div pour les écrans dont la largeur est inférieure ou égale à 600px */
@media screen and (max-width: 600px) {
  .helpButton {
    display: none;
  }

  .topRightButtonsContainer {
    margin-right: -10px;
  }
}

.footer {
  background-color: #080819;
  color: white;
  height: 13vh;
  font-size: 16px;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* flex-direction: column; */
  align-items: center;

  z-index: 0;
}

.playerContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.footerLeftContainer {
  width: 33%;
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  align-items: center;
  margin-left: 4%;
  margin-top: 2%;
  height: 10%;
  max-height: 10%;
}

.discordContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 33%; */
  /* height: 10%; */
  /* max-height: 10%; */
  position: fixed;
  /* min-height: 0px; */
  /* font-size: 1vw; */
  /* font-size: calc(40% + 0.3vw + 0.3vh); */
}

.discordImage {
  width: 6.2vh;
  /* height: 80%; */
  max-width: 100%;
  margin-right: -10px;
  margin-left: 6%;
  margin-top: -120%;
  margin-bottom: -30%;
  /* position: fixed; */
}

a:link {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
  text-decoration: none;
}

a:hover {
  color: white !important;
  text-decoration: none;
}

.discordLink {
  font-weight: 400;
  font-size: 1.01vh;
  background-color: #433f3f;
  border-radius: 20%;
  padding: 0.7vh;
  margin-top: 10%;
  margin-left: 5px;
  position: static;
  min-width: 10%;
  text-align: center;
}

.sunoLinkContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 20%;
  max-height: 20%;
  font-size: 1vw;
  font-size: calc(40% + 0.3vw + 0.3vh);
}

.inputSunoLinkContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 8px 16px;
  border-radius: 30px;
  max-width: 600px;
  width: 100%;
}

.inputSunoLink {
  flex: 1;
  background: transparent;
  border: none;
  color: white;
  font-size: 14px;
  outline: none;
  width: 100%;
}

.inputSunoLink::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.plusSymbol {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  line-height: 0;
  font-family: monospace;
  font-size: inherit;
  text-align: center;
}

.plusButton {
  min-width: 40px;
  min-height: 40px;
  width: 40px;
  height: 40px;
  padding: 0;
  border-radius: 50%;
  background-color: rgb(43, 61, 161);
  color: white;
  border: none;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 150ms ease;
  margin-left: 10px;
  font-family: monospace;
  box-shadow: 0 2px 1px rgba(45, 45, 60, 0.2),
    inset 0 1.5px 1px rgb(98, 117, 227),
    inset 0 -2px 1px rgb(75, 90, 174);
}

.plusButton:hover {
  background-color: rgb(75, 90, 174);
  transform: scale(1.05);
}

.plusButton:active {
  background-color: rgb(43, 61, 161);
  transform: scale(0.95);
  box-shadow: none;
}

.openPlusButton {
  min-width: 40px;
  min-height: 40px;
  width: 40px;
  height: 40px;
  padding: 0;
  border-radius: 50%;
  background-color: rgb(43, 61, 161);
  color: white;
  border: none;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 150ms ease;
  font-family: monospace;
  box-shadow: 0 2px 1px rgba(45, 45, 60, 0.2),
    inset 0 1.5px 1px rgb(98, 117, 227),
    inset 0 -2px 1px rgb(75, 90, 174);
}

.openPlusButton:hover {
  background-color: rgb(75, 90, 174);
  transform: scale(1.05);
}

.openPlusButton:active {
  background-color: rgb(43, 61, 161);
  transform: scale(0.95);
  box-shadow: none;
}

.explanatorytext {
  font-size: 13px;
  font-weight: 400;
  margin: 5px;
}

.footerRightContainer {
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.previousAndNextSongsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 1;
  position: fixed;
  bottom: 13%;
  width: 100%;
  height: 10%;
  max-height: 10%;
  background-color: #2e2e2ea5;
  font-size: 1vw;
  font-size: calc(40% + 0.3vw + 0.3vh);
}

/* Masquer la div pour les écrans dont la largeur est inférieure ou égale à 600px */
@media screen and (max-height: 600px) {
  .previousAndNextSongsContainer {
    display: none;
  }
}

.previousNextSong {
  font-weight: 500;
}

.previousSongText {
  /* font-size: 1vw+0.1vh; */
  font-weight: 500;
  background-color: #1e1e1ed2;
  border-radius: 10px;
  width: 15%;
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-top: 11%; */
  margin-left: 1%;
  margin-right: 1%;
  padding: 10px;
}

.nextSongText {
  /* font-size: 15px; */
  font-weight: 500;
  background-color: #1e1e1ed2;
  border-radius: 10px;
  width: 15%;
  /* margin-top: 11%; */
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1%;
  margin-right: 1%;
  padding: 10px;
}

.projectCardContainer {
  display: flex;
}

.directButton {
  z-index: 2;
  height: 60px;
  width: 60px;
  margin-top: 2%;
  margin-right: 1%;
  border-radius: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid transparent;
  background: linear-gradient(to right, #000000, #000000), linear-gradient(to right, #ffffff, #ffffff);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.6), 0 0 30px rgba(255, 255, 255, 0.4);
  transition: box-shadow 0.3s ease-in-out;
  animation: pulse 2s infinite;
}

.accountCircle {
  margin-right: 30px;


}

@media (max-width: 768px) {
  .clickBlocker {
    display: none;
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.6), 0 0 30px rgba(64, 196, 255, 0.4);
  }

  50% {
    box-shadow: 0 0 25px 10px rgba(255, 255, 255, 0.8), 0 0 40px rgba(64, 196, 255, 0.6);
  }

  100% {
    box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.6), 0 0 30px rgba(64, 196, 255, 0.4);
  }
}

.userContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 20px;
}

.username {
  color: white;
  font-size: 16px;
  font-weight: 500;
}

/* Masquer la div pour les écrans dont la largeur est inférieure ou égale à 890px */
@media screen and (max-width: 890px) {
  .username {
    display: none;
  }
}

.dropdown {
  z-index: 1;
  margin: 0;
  margin-left: 4%;
}

/* Masquer la div pour les écrans dont la largeur est inférieure ou égale à 600px */
@media screen and (min-width: 1000px) {
  .dropdown {
    display: none;
  }
}