.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
}

.audioPlayer {
  display: flex;
  justify-content: center;
  align-items: center;

}

.header {
  display: flex;
  align-items: center;
  text-align: center;
  background-color: #1e1e1e;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 20px;
  font-weight: 500;
  top: 0;
  width: 100%;
  height: 5vh;
  z-index: 10;
  position: fixed;
}

.title {
  margin-right: 10%;
  margin-left: 20px;
  font-size: 24px;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 100%;
  flex-direction: column;
}

.button {
  background-color: #251db9;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 7px;
  margin-left: 1%;
  margin-right: 1%;
  cursor: pointer;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 500;
}

.topRightButtonsContainer {
  margin-left: auto;
}

.topRightButtons {
  margin-right: 30px;
  background-color: #251db9;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 500;
}

.footer {
  background-color: #333;
  color: white;
  height: 13vh;
  font-size: 16px;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.playerContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.inputSunoLinkContainer {

  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30%;
}

.inputSunoLink {
  width: 40%;
  height: 3vh;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #333;
  margin: 10px;
}

.plusButton {
  background-color: #251db9;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 40px;
  font-size: 16px;
  width: 50px;
  height: 50px;
  font-weight: 500;
  font-size: x-large
}

.explanatorytext {
  font-size: 16px;
  font-weight: 500;
  margin: 10px;
}

.previousAndNextSongsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 1;
  position: fixed;
  bottom: 13%;
  width: 100%;
  height: 10%;
  max-height: 10%;
  background-color: #2e2e2ed2;
}

.previousNextSong {
  font-weight: 500;
}

.previousSongText {
  font-size: 15px;
  font-weight: 500;
  background-color: #1e1e1ed2;
  border-radius: 10px;
  width: 15%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-top: 11%; */
  margin-left: 1%;
  margin-right: 1%;
  padding: 10px;
}

.nextSongText {
  font-size: 15px;
  font-weight: 500;
  background-color: #1e1e1ed2;
  border-radius: 10px;
  width: 15%;
  /* margin-top: 11%; */
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1%;
  margin-right: 1%;
  padding: 10px;
}

.projectCardContainer {
  display: flex;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
  width: 100%;
  flex-direction: column;
}

.directButton {
  z-index: 2;
  height: 60px;
  width: 60px;
  margin-top: 2%;
  margin-right: 1%;
  border-radius: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid transparent;
  background: linear-gradient(to right, #000000, #000000), linear-gradient(to right, #ffffff, #ffffff);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.6), 0 0 30px rgba(255, 255, 255, 0.4);
  transition: box-shadow 0.3s ease-in-out;
  animation: pulse 2s infinite;
}


.clickBlocker {
  position: fixed;
  top: -5px;
  left: 35%;
  width: 23%;
  height: 120px;
  z-index: 9999;
  pointer-events: auto;
  background: transparent;
  cursor: not-allowed;
}

@media (max-width: 768px) {
  .clickBlocker {
    display: none;
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.6), 0 0 30px rgba(64, 196, 255, 0.4);
  }

  50% {
    box-shadow: 0 0 25px 10px rgba(255, 255, 255, 0.8), 0 0 40px rgba(64, 196, 255, 0.6);
  }

  100% {
    box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.6), 0 0 30px rgba(64, 196, 255, 0.4);
  }
}