.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
}


.header {
  display: flex;
  align-items: center;
  text-align: center;
  background-color: #1e1e1e;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  ;
  font-size: 20px;
  font-weight: 500;
  top: 0;
  width: 100%;
  height: 5vh;
  z-index: 1000;
}

.title {
  margin-right: 10%;
  margin-left: 20px;
  font-size: 24px;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  width: 100%;
}

.button {
  background-color: #251db9;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  margin-left: 2%;
  cursor: pointer;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 500;
}

.topRightButtonsContainer {
  margin-left: auto;

}

.topRightButtons {
  margin-right: 30px;
  background-color: #251db9;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 500;
}

.footer {
  background-color: #333;
  color: white;
  height: 20vh;
  font-size: 16px;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.inputSunoLinkContainer {
  padding-top: 20px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30%;
}

.inputSunoLink {
  width: 40%;
  height: 3vh;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #333;
  margin: 10px;
}

.plusButton {
  background-color: #251db9;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 40px;
  font-size: 16px;
  width: 50px;
  height: 50px;
  font-weight: 500;
  font-size: x-large
}