.audioPlayer {
    max-width: 600px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    z-index: 10;
    position: fixed;
    left: 24%;
}

/* Masquer la div pour les écrans dont la largeur est inférieure ou égale à 600px */
@media screen and (max-width: 1100px) {
    .audioPlayer {
        padding-left: 2.5%;
    }
}

.audioPlayerLoading {
    max-width: 600px; min-width: 300px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    padding: 5px;
}