.audioPlayer {
    position: relative;
    width: 300px;
}

.clickBlocker {
    position: absolute;
    top: -20px;
    left: 0;
    width: 300px;
    height: 120px;
    z-index: 9999;
    pointer-events: auto;
    background: rgba(255, 0, 0, 0.3);
    border: 2px solid blue;
    cursor: not-allowed;
}