.imageHidden {
    opacity: 0;
    transition: opacity 1.3s ease-in-out;
    user-select: none;
    -webkit-user-drag: none;
    z-index: 0;
}

.imageVisible {
    position: absolute;
    z-index: 0;
    opacity: 1;
    transition: opacity 3s ease-in-out;
    user-select: none;
    /* transform: translateY(-38px); */
    -webkit-user-drag: element;

}

.cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #535992;
    border-radius: 8px 8px 0 0;
    transition-duration: 1000ms;
}

.fragment {
    display: flex;
    align-items: center;
    padding-top: 2px;
    height: 25px;
    font-size: smaller;
}

.headerCard {
    display: flex;
    justify-content: space-between;
    font-size: smaller;
}

.lightHeaderCard {
    display: flex;
    justify-content: space-between;
    border-radius: 8px 8px 0 0;
    transition-duration: 1000ms;
}

.likeButton {
    position: relative;
    /* Retirez la position absolue pour le placer naturellement */
    margin-top: 20px;
    /* Ajoutez une marge pour le décaler vers le bas */
    border-radius: 10px;
    padding: 10px 20px;
    background-color: #251db9;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    width: 20%;
}