.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


.header {
  display: flex;
  background-color: #1c1c1c;
  color: white;
  padding: 20px;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.content {
  flex: 1;
  margin-top: 80px;
  padding: 20px;
  background-color: #f9f9f9;
}

.footer {
  background-color: #1c1c1c;
  color: white;
  height: 15vh;
  padding: 10px 20px;
  text-align: center;
  font-size: 16px;
  position: fixed;
  bottom: 0;
  width: 100%;
}